# Wi-Fi credentials
CONFIG_ESP_WIFI_SSID="metaverse-portal"
CONFIG_ESP_WIFI_PASSWORD="passwd256"

# TCP bus target
CONFIG_BUS_HOST="192.168.172.43"
CONFIG_BUS_PORT="7000"

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
